@model Ead_project.Models.User

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Conscientia</title>
      <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
  
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-image:url('header-bg.jpg');
        }
        .welcome-header h2{
            padding-left:100px;
	        font-size: 3.5em;
	        color: #FFF;
	        font-family: 'pt_sansbold';
	        width: 35%;
	        line-height: 1.2em;
	        margin: 2.5em 0 1em;
	        text-shadow: 0px 0px 5px #474747;
	        -webkit-text-shadow: 0px 0px 5px #474747;
	        -moz-text-shadow: 0px 0px 5px #474747;
	        -o-text-shadow: 0px 0px 5px #474747;
        }

        .container
        {
            position: fixed;
             top: 20%;
             left: 33%;
             margin-top: -50px;
             margin-left: -100px;
        }
    </style>
</head>
<body>
    <div class="welcome-header">
        <h2><span style="font-family:'Comic Sans MS';color:chocolate;">Conscientia</span> is Knowledge sharing website to use it you must login</h2>
    </div>

        <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" class="form-horizontal" role="form">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                    </div>
                                    

 


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <a id="btn-login" href=@Url.Action("Login", "Home") class="btn btn-success">Login  </a>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account! 
                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Sign Up Here
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
        </div>
        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                        </div>  
                        <div class="panel-body" >
                            @*<form id="signupform" class="form-horizontal" role="form">
                                
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                    
                                
                                  
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="email" placeholder="Email Address">
                                        <br />
                                        <a id="btn-chk" href="#" class="btn btn-success">Check</a>
                                        <div id="result"></div>
                                        @Scripts.Render("~/bundles/jquery")

                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="firstname" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                        <span style="margin-left:8px;">or</span>  
                                    </div>
                                </div>
                                
                                <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
                                    
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                                    </div>                                           
                                        
                                </div>
                                
                                
                                
                            </form>*@
          @using(Html.BeginForm("Create","User",FormMethod.Post))
          {
             @Html.AntiForgeryToken()
             @Html.ValidationSummary(true)
              <table>
                  <tr>
                  <td style="padding-right:10px;">
                      <div class="editor-label">
              @Html.LabelFor(m => m.Username)
                          </div>
                      </td>
                      <td>
                          <div class="editor-field">
                           @Html.TextBoxFor(m=>m.Username,new {@placeholder="Username", @class="form-control" ,@id="t1"})
                           @Html.ValidationMessageFor(m => m.Username)
                      </div>
                        </td>
                      </tr>
                  <tr>
                  <td>
                        <div class="editor-label">
                            @Html.LabelFor(m=>m.Email)
                        </div>
                    </td>

                  <td style="padding-right:10px;padding-top:10px;">
                      <div class="editor-field">
                        @Html.TextBoxFor(m=>m.Email,new {@placeholder="Email e.g aaa@gmail.com", @class="form-control",type="Email"})
                           @Html.ValidationMessageFor(m => m.Email)
                      </div>
                  </td>
               </tr>
           
              <tr>
                  <td>
                      <div class="editor-label">
              @Html.LabelFor(m=>m.Password)
                      </div>
                  </td>
                  <td style="padding-right:10px;padding-top:10px;">
                      <div class="editor-field">
              @Html.TextBoxFor(m=>m.Password,new {@placeholder="Password", @class="form-control" ,type="Password"})
                           @Html.ValidationMessageFor(m => m.Password)
                      </div>
                    </td>
               </tr>
              
                   </table>
                
                  <input type="submit" value="SignUp" name="Submit" id="uchk" class="submit btn btn-info" />
          }
                            <br />
                            <input type="button" id="check" class="btn btn-default" value="CheckUserName"/>
                            <div id="result"></div>
                             @Scripts.Render("~/bundles/jquery")
                         </div>
                    </div>
         </div> 
    </div>
    
    <script>

        $(document).ready(function () {
            $('#uchk').attr('disabled', 'disabled');
            $('#check').click(function () {

                var userName = $('#t1').val();
                $.getJSON("/User/checking_user?UserName=" + userName, function (data) {
                    if (data) {
                        $('#result').text("User already exists in database");
                    }
                    else {
                        $('#uchk').removeAttr('disabled');
                        $('#result').text("User Name is available");
                    }
                });

            });
        });
                    </script>

    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>
